@model IEnumerable<onelv_parser.Models.MobilePhone>

@{
    ViewBag.Title = "Search";
    
}


@Html.Action("Index", new { searchString = (string)ViewBag.searchString })
<br />
<strong id="count" style="display:none">@((string)ViewBag.count)</strong>

<table class="table" id="tb" style="display:none">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Format("{0:c2} €", @Html.DisplayFor(modelItem => item.Price))
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Url)">visit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>

        </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {

      
            if ($("#count").text() == "0") {


                $("#msg2").text("No results found.");
                $("#msg2").show();
            }
            else {
                $(".table").show();
            }
        });


    
</script>